@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-bg text-white font-sans;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-dark-bg;
}

::-webkit-scrollbar-thumb {
  @apply bg-dark-border rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-brand-500;
}

.glass {
  @apply bg-dark-card/70 backdrop-blur-md border border-white/5;
}

.hero-gradient {
  background: radial-gradient(circle at 50% 0%, rgba(83, 252, 24, 0.15) 0%, rgba(11, 14, 17, 0) 70%);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}